# Week 7 Assignment

This week has been all about getting information off the internet both in structured data formats (CSV, JSON, etc) as well as HTML.  Answer the questions below as instructed.

### 31.1 Finding files on the internet

Go to healthdata.gov and find a file that looks interesting to you.  Provide the metadata below that describes the file you located.

The cell below is a "markdown" cell.  Just double-click it to edit the contents and then Shift-Enter to show the content as formatted text.

---

**File Name:**  NCHS_-_Teen_Birth_Rates_for_Females_by_Age_Group__Race__and_Hispanic_Origin__United_States
**URL to Page:** https://healthdata.gov/dataset/nchs-teen-birth-rates-females-age-group-race-and-hispanic-origin-united-states

**Description:** This file contains information regarding the birth data by race before 1980 in the United States. Also, the data contains information of the race of mother and child. This information does not contain states of Louisiana, New Hampshire and Oklahoma from 1989, 1991 and 1992

**URL to Actual File:** https://healthdata.gov/dataset/nchs-teen-birth-rates-females-age-group-race-and-hispanic-origin-united-states/resource#{view-graph:{graphOptions:{hooks:{processOffset:{},bindEvents:{}}}},graphOptions:{hooks:{processOffset:{},bindEvents:{}}}}

**File Format:** CSV

---

### 31.2 Use Pandas to load data from internet

Now write a block of code (doesn't need to be in a function) that will load the file using Pandas and describe the shape of the file contents.  I've provided a cell with some comments in it to help get you started.

Pandas documentation for loading data https://pandas.pydata.org/pandas-docs/version/0.23.4/api.html#input-output

Pandas documentation for describing the shape of data https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.shape.html

In [3]:
import pandas as pd
"""
This block of code uses Pandas to load the teen birth rates data from the healthdata.gov as a CSV file. The code reads the CSV directly and then the number of rows
and columns are counted.     
"""

# Load data using one of the read functions depending on your data file type
# data = pd.read_ ...
birth_rates='NCHS_-_Teen_Birth_Rates_for_Females_by_Age_Group__Race__and_Hispanic_Origin__United_States.csv' #assign new variable 
df=pd.read_csv(birth_rates) #reads the csv files new variable is created to make it easier to follow in the code (from a reader's perspective)

#data= pd.read_csv(birth_rates[['Year','Birth Rate']])
with open(birth_rates) as x:
    new =x.readlines()
totals=(len(new)-1) #we  subtract one to account for heading 
total_colu=len(df.axes[1])
print("Number of rows:" + str(totals))
print("Number of columns:" +str(total_colu))
# Print out the row / column count

Number of rows:896
Number of columns:4

In [4]:
df #shows 896 rows by 4 columns

,Year,Race or Hispanic Origin,Age Group,Birth Rate
0,1960,All Races,10-14 Years,0.8
1,1960,All Races,15-17 Years,43.9
2,1960,All Races,15-19 Years,89.1
3,1960,All Races,18-19 Years,166.7
4,1961,All Races,10-14 Years,0.9
...,...,...,...,...
891,2017,"Non-Hispanic, Single Race Native Hawaiian or P...",18-19 years,50.6
892,2016,"Non-Hispanic, Single Race Native Hawaiian or P...",10-14 years,NaN
893,2016,"Non-Hispanic, Single Race Native Hawaiian or P...",15-19 years,28.6
894,2016,"Non-Hispanic, Single Race Native Hawaiian or P...",15-17 years,11.0
895,2016,"Non-Hispanic, Single Race Native Hawaiian or P...",18-19 years,55.3

---

### 32.1 HTML Basics

HTML is a form of which othere data format we've talked about:

> A) Binary
>
> B) eXtensible Markup Language
> 
> C) JavaScript Object Notation
>
> D) HL7 FHIR

In [ ]:
answer321 = "B"

### 32.2 Things in HTML

Which of the following is **not** a part of HTML:

> A) element
> 
> B) tag
>
> C) dictionary
>
> D) attribute

In [ ]:
answer322 = "C"

### 32.3 Parsing HTML in Python

Which of the following packages can be used to extract a table of data from HTML using Python (include all that apply in a list):

> A) lxml
> 
> B) BeautifulSoup
>
> C) Pandas 
>
> D) fuzzywuzzy

In [ ]:
answer323 = ["A","C"]